<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title><%= @title %></title>
    <link><%= @rss_url %></link>
    <description><%= @description %></description>
    <generator>Shakushi</generator>
    <lastBuildDate><%= @feed.last_built %></lastBuildDate>
    <% for entry in @feed.entries %>
    <item>
      <title><%= entry.title %></title>
      <link><%= entry.url %></link>
      <pubDate><%= entry.published %></pubDate>
      <guid><%= entry.url %></guid>
      <description><%= entry.summary %></description>
    </item>
    <% end %>
  </channel>
</rss>